/* Extends / Inheritance */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
#piano > *, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 1.5em;
}
body .preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 100000;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  text-align: center;
}
body .preloader .status {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
  bottom: 25%;
}
body .preloader .status img {
  display: grid;
  height: 100px;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 300px;
}
body .preloader .status img:last-child {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
body pre {
  /* font-family: 'Baloo Bhai 2', cursive; */
  text-align: left;
}
body pre kbd {
  background-color: #131313;
  color: #fafafa;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 75%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat Alternates", sans-serif;
}
body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
body a:visited {
  color: rgba(255, 255, 255, 0.8);
}
body a:hover, body a:focus, body a:active {
  color: white;
  background-color: none;
}

/* PRELOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 100000;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  text-align: center;
}

.preloader .status {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 25%;
  bottom: 25%;
}

.preloader .status img {
  display: grid;
  height: 100px;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 300px;
}

.preloader .status img:last-child {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Virtual Instrument */
.virtual-instrument {
  width: 100%;
  height: 100%;
  margin: auto;
}
.virtual-instrument > * {
  position: relative;
  margin: auto;
}

/* Debugger */
#debugger {
  text-align: center;
}

#piano {
  border-radius: 1% 1% 0 0;
  width: 100%;
  min-width: 300px;
  max-width: 1080px;
}
#piano > * {
  font-size: 0;
}
#piano .piano-keys {
  margin-top: -1px;
  border: none;
  top: 0;
  border-top: none;
}
#piano .piano-keys.piano-white-key {
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-right: solid 3px rgba(0, 0, 0, 0.1);
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10% 2.6%;
  border-radius: 0 0 5px 5px;
  background-color: #efecdf;
}
#piano .piano-keys.piano-black-key {
  position: absolute;
  border-right: solid 3px rgba(255, 255, 255, 0.1);
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  margin-left: -2%;
  padding: 5.5% 1.25%;
  border-radius: 0 0 3px 3px;
  background-color: #131313;
}
#piano .piano-keys.selected {
  background-color: #538c65;
  border-color: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=piano.css.map */
